/*body{
    background-image: url(http://media.blackbamboo.ru/images/products/rubiks_cube/rubiks_top_bg.jpg),url(http://media.blackbamboo.ru/images/products/rubiks_cube/rubiks_bg.jpg) !important;
    background-repeat: no-repeat, repeat  !important;
    background-position: center 52px, center top !important;
}

#header{
    margin-top: 350px;
}

.block-title{
    background: #FE5400 !important;
    text-shadow: 1px 1px 0 #c34500 !important;;
}

.buy{
    background: #FE5400 !important;
}

.buy:hover{
    background: #FF0804 !important;
    color: #fff !important;
}

.product-title{
    color: #030103 !important;
}
*/