Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php

<ifmodule mod_expires.c>
    <filesmatch ".(jpg|gif|png|css|js|woff)$">
            ExpiresActive on
            ExpiresDefault "access plus 30 day"
        </filesmatch>
</ifmodule>